h5py
typing-extensions
wheel
opencv-python
Pillow
scikit-learn
numpy
tqdm
matplotlib
notebook
keras-facenet
mtcnn
tensorflow

#pytorch ต้องติดตั้ง pytorch ก่อน

#openmim
#yolov5 
#mim install mmcv
#python -m pip install --upgrade pip
